.menu-page {
    background-color: #f6f6f6;
}

.header {
    display: flex;
    align-items: center;

    img {
        width: 50%;
        height: auto;
    }
    i {
        margin-left: auto;
        cursor: pointer;
    }
}

.main {
    img {
        width: 375px;
        height: 275px;
    }
}
