/*POlices*/
$logo-font: Shrikhand;
$text-font: Roboto;

/*Couleurs*/
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

/*header*/
$header-bg-color: #fff;
$header-icon-color: $header-bg-color;
$header-text-color: #353535;
$header-text-bg-color: #eaeaea;
$header-text-font-size: 16px;
$header-text-font-weight: 500;
$header-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

/*footer*/
$footer-bg-color: #000;
$text-color-footer: #fff;

/*bouton-cta*/
.button {
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient($primary, $secondary);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 180px;
  align-self: center;
  transition: background 0.3s ease;
}

.button:hover {
  background: linear-gradient(darken($primary, 10%), darken($secondary, 10%));
}

.heart-button {
  i {
    transition: color 0.3s ease;
  }
  &:hover {
    i {
      color: #9356dc, #ff79da;
    }
  }
}
