.footer {
    background-color: #000;
    color: #fff;
       }
h3  {
    color: #fff;
    margin-left: 40px;
    }
ul  {
    list-style: none;

li  {
    margin-bottom: 10px;
    
    }
a   {
    text-decoration: none;
    color: #fff;
    gap: 10px;
    }
i   {
    color: #fff;
}
}
