//polices
$body-font: 'Shrikhand', cursive;
$text-font:'Roboto',sans-serif;

//couleurs générales 
$background-color-accueil:#fff;
$background-color-light:eaeaea;
$background-color-gray:f6f6f6;
$text-color-accueil: #000;
$background-color-footer: #000;

//couleurs section location , presentation etc
$background-color-location: #eaeaea;
$background-color-présentation: #f6f6f6;
$background-color-fonctionnement: #f6f6f6;
$background-color-Restaurants: #f6f6f6;


//effets d ombre
$shadow-box:0 4px 15px 0, rgba(0, 0, 0, 0.15);
$border-radius: 20px;

//effets boutons
$button-gradient: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
$transition: 0.3s;

//couleurs données 
$primary-color: #9356dc;
$secondary-color:#ff79da;
$tertiary-color:#99e2d0;

//couleurs textes
$text-color-light: #000;
$text-color-dark: #fff;
$text-color-badge-bg: $tertiary-color;
$text-color-badge-text: #008766;
$text-color-footer: #000;