$body-font: 'Shrikhand', cursive;
$text-font:'Roboto',sans-serif;

$background-color-accueil:#fff;
$text-color-accueil: #000;

$background-color-menu:#353535;

$background-color-footer:#000;
$text-color-footer:#fff;

$primary-color:#9356dc;
$secondary-color:#ff79da;
$tertiary-color:#99e2d0;

$shadow-box:0 4px 15px 0 #f6f6f6,0 0 0 4px rgba(0, 0, 0, 0.15);
$transition:0,3s;
