@import "_styles-communs";

.button {
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: linear-gradient($primary, $secondary);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 180px;
    align-self: center;
    transition: background 0.3s ease;

    &:hover {
        background: linear-gradient(darken($primary, 10%), darken($secondary, 10%));
    }
}

.heart-button {
    i {
        transition: color 0.3s ease;
    }
    &:hover {
        background: linear-gradient(90deg, #ff79da, #9356dc);
        animation: fillheart 0.8s ease-in-out forwards;
    }
}
@keyframes fillHeart {
    to {
        background-position: 0% 100%;
    }
}
