.heart-icon {
    width: 32px;
    height: 32px;
    font-size: 20px;
    position: relative;
}

.heart-empty {
    opacity: 1;
    z-index: 1;
    font-size: 32px;
    cursor: pointer;
    transition: opacity ease-in-out 0.2;
}

.heart-full {
    opacity: 0;
    z-index: 0;
    transition: opacity 0.3s ease;
    font-size: 32px;
    position: absolute;
    left: 1px;
}
.heart-empty:hover {
    opacity: 0;
}
.heart-empty:hover .heart-full {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
}
