@import "_styles-communs";
.loader {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #9356dc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: fadeOut 0.5s ease 3s forwards;
}

.letter {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        color: #ff79da;
    }
    to {
        opacity: 1;
        color: #9356dc;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        color: #9356dc;
    }
    to {
        opacity: 0;
    }
}
.accueil {
    .présentation {
        background-color: #f6f6f6;
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            font-family: Roboto;
        }
        p {
            color: #353535;
            text-align: center;
            margin-top: 0px;
            font-size: 18px;
        }
    }

    .fonctionnement {
        display: flex;
        flex-direction: column;

        h2 {
            margin-left: 20px;
            font-family: Roboto;
        }

        ol {
            list-style: none;
            counter-reset: item;
        }
        li {
            display: flex;
            height: 73px;
            margin-bottom: 20px;
            align-items: center;
            position: relative;
            background-color: #f6f6f6;
            border-radius: 20px;
            margin-right: 20px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

            &::before {
                content: counter(item);
                counter-increment: item;
                display: block;
                position: absolute;
                left: -1px;
                transform: translateX(-50%);
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                margin-right: 10px;
                background-color: #9356dc;
                color: #fff;
            }

            &:hover {
                background-color: #fff;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
            }

            i {
                margin-right: 10px;
                margin-left: 35px;
                color: #7e7e7e;
                transition: color 0.3s ease;

                &:hover {
                    color: #9356dc;
                }
            }
            span {
                margin-left: 10px;
                font-weight: 700;
            }
        }
    }
}

.Restaurants {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;

    h2 {
        margin-left: 20px;
    }

    ul {
        padding: 0;
    }

    li {
        position: relative;
        a {
            text-decoration: none;
        }

        figure {
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            background-color: #fff;
            border-radius: 25px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
            transition:
                box-shadow 0.6s ease,
                opacity 0.6s ease;
            &:hover {
                box-shadow: 0px 4px 10px 5px #9356dc;
                transform: scale(1);
                opacity: 0.8;
            }
            img {
                width: 100%;
                height: 231px;
                border-top-right-radius: 1.5rem;
                border-top-left-radius: 1.5rem;
                transition: transform 1s ease;
                object-fit: cover;
            }
        }

        figcaption {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-family: Roboto;
            color: #000;
        }
        .heart-icon {
            width: 32px;
            height: 32px;
            font-size: 20px;
            padding-right: 20px;
        }

        i {
            position: absolute;
        }
        .heart-empty {
            opacity: 1;
            z-index: 1;
            font-size: 32px;
            cursor: pointer;
        }

        .heart-full {
            opacity: 0;
            z-index: 0;
            transition: opacity 0.3s ease;
            font-size: 32px;
        }
        .heart-empty:hover + .heart-full {
            opacity: 1;
            color: transparent;
            background-image: linear-gradient(#9356dc, #ff79da);
        }
        .info-resto {
            padding: 8px;
        }
        .restaurant-title {
            margin: 0px;
        }

        .restaurant-location {
            margin-top: 2px;
        }
    }
}
.badge {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #99e2d0;
    color: #008766;
    z-index: 1;
}

/* Média query sup à 768px */
@media screen and (min-width: 769px) {
    body {
        margin: 0 20px;
    }
    .présentation {
        .h1-container {
            white-space: nowrap;
        }
    }

    .fonctionnement ol {
        display: flex;
        justify-content: space-between;

        .li {
            flex: 1;
        }
    }

    .Restaurants {
        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            list-style: none;
        }
        li {
            width: calc(100% - 10px);
            figure {
                width: 100%;
            }

            .restaurant-location {
                color: #000;
            }
        }
    }
}
