@import "_styles-communs";
@media screen and (max-width: 768px) {
    .footer {
        background-color: #353535;
        color: #fff;
        h3 {
            margin-left: 40px;
            padding-top: 20px;
            font-family: Shrikhand;
            font-size: 25px;
        }

        ul {
            list-style: none;
            margin-left: 40px;
        }
        li {
            padding-bottom: 10px;
            a {
                text-decoration: none;
                color: #fff;
                display: flex;
                align-items: center;
                font-size: 25px;
            }
            i {
                margin-right: 15px;
            }
            p.information {
                margin: 0;
            }
        }
    }
}

@media screen and (min-width: 769px) {
    .footer {
        background-color: #353535;
        color: #fff;
        display: flex;
        align-items: center;
        h3 {
            margin-left: 30px;
            font-family: Shrikhand;
        }
    }
    .footer ul {
        display: flex;
        gap: 10px;
        list-style: none;
    }
    a {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }
    .footer i,
    p {
        color: #fff;
    }
    p.information {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .présentation {
        .h1-container h1,
        .p-container p {
            display: block;
        }
    }
    .footer {
        background-color: #353535;
        color: #fff;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 40px;
    }
}
