@import "_styles-communs";

.menu-footer {
    background-color: #353535;
    color: #fff;
    display: flex;
    flex-direction: column;

    h3 {
        padding: 22px 25px 22px 25px;
        font-family: Shrikhand;
        font-size: 25px;
        margin: 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 10px 22px;
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: #fff;
                display: flex;
                align-items: center;

                i {
                    margin-right: 10px;
                }
                p.information {
                    margin: 0;
                }
            }
        }
    }
}
@media screen and (min-width: 769px) and (max-width: 1224px) {
    .menu-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        h3 {
            font-size: 20px;
            padding: 22px 2px 22px 25px;
        }

        ul {
            display: flex;
        }
        p.information {
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

@media screen and (min-width: 1225px) and (max-width: 1440px) {
    .menu-footer {
        flex-direction: row;
        justify-content: center;

        .menu-footer .ul {
            display: flex;
        }
    }
}
