@import "_styles-communs";

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        width: 197px;
        padding: 14px 89px 13px 89px;
    }
    .location {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: #eaeaea;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        i.fa-solid.fa-location-dot {
            width: 12px;
            height: 16px;
            color: #353535;
            margin-left: 100px;
        }
        input {
            border: none;
            color: #353535;
            font-weight: bold;
            font-size: 16px;
            background-color: #eaeaea;
            margin-left: 17px;
        }
    }
}

@media screen and (min-width: 769px) {
}
