@media screen and (max-width: 768px) {
    .menu-header {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            padding: 14px 50px;
        }
        i.fa-solid {
            color: #000;
        }
    }
    .menu-main {
        img {
            width: 100%;
        }
    }

    .background-section {
        background-color: #f6f6f6;
        margin-top: -50px;
        position: relative;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        .menu-like {
            display: flex;
            align-items: center;
            justify-content: space-around;

            .heart-empty:hover {
                opacity: 0;
            }
            .heart-empty:hover .heart-full {
                opacity: 1;
                color: transparent;
                background-image: linear-gradient(#9356dc, #ff79da);
                background-clip: text;
                -webkit-background-clip: text;
            }
        }
        .Entrées,
        .Plats,
        .Désserts {
            h2 {
                font-weight: 400;
                margin-left: 20px;
                font-family: Roboto;
                font-size: 16px;

                h2::after {
                    content: "";
                    display: block;
                    width: 15%;
                    height: 2px;
                    background-color: #99e2d0;
                }
            }

            .container-content {
                display: flex;
                align-items: center;
                background-color: #fff;
                margin: 20px;
                border-radius: 20px;
                position: relative;
                overflow: hidden;
            }
        }

        .text-content {
            flex: 1;
            border-radius: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;
            z-index: 2;
            margin-left: 10px;
        }
        .text-prix {
            display: flex;
            transition: all 0.4s;
            transform: translateX(-50px);
            position: relative;
            align-items: center;
            z-index: 1;

            p {
                margin-top: 60px;
                margin-right: 100px;
            }
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #99e2d0;
                border-radius: 0 15px 15px 0;
                height: calc(100%);
                width: 50px;
                position: absolute;
                right: -50px;
                transition: transform 0.8s;

                &:hover {
                    .text-prix {
                        transform: translateX(-50px);
                    }
                }
                .fa-circle-check {
                    color: white;
                    font-size: 1.5rem;
                    transition: all 1s;
                    width: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform-origin: center;
                }
                .fa-circle-check:hover {
                    transform: rotate(180deg);
                }
            }
        }

        .menu-button {
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1224px) {
    .menu-header {
        display: flex;
        justify-content: space-between;
        margin-right: 200px;

        i.fa-solid.fa-arrow-left.fa-lg {
            margin-left: 10px;
        }
    }
    .menu-main {
        img {
            width: 100%;
            height: 300px;
        }
    }
    .background-section {
        position: relative;
        margin-top: -80px;
        background-color: #f6f6f6;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-left: 50px;
        margin-right: 50px;

        .menu-like {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}
@media screen and (min-width: 1225px) {
    .menu-header {
        display: flex;
        align-items: center;
    }
}
