.menu-header {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 50%;
        padding: 14px 50px;
    }
    i.fa-solid {
        color: #000;
    }
}
.menu-main {
    img {
        width: 100%;
    }
    .background-section {
        background-color: #f6f6f6;
        margin-top: -50px;
        position: relative;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        display: flex;
        flex-direction: column;
    }
    .menu-like {
        display: flex;
        justify-content: space-around;
        align-items: center;
        h1 {
            font-size: 25px;
            font-family: Shrikhand;
        }
    }

    .heart-icon {
        position: relative;
    }
    i {
        position: absolute;
    }
    .heart-empty {
        opacity: 1;
        z-index: 1;
        font-size: 25px;
        cursor: pointer;
    }
    .heart-full {
        opacity: 0;
        z-index: 0;
        transition: opacity 0.3s ease;
        font-size: 25px;
    }
    .heart-empty:focus + .heart-full {
        opacity: 1;
        color: transparent;
        background-image: linear-gradient(#9356dc, #ff79da);
    }

    .Entrées,
    .Plats,
    .Désserts {
        h2 {
            margin: 0;
            font-family: Roboto;
            font-weight: 300;
        }

        h2::after {
            content: "";
            display: block;
            width: 10%;
            height: 2px;
            background-color: #008766;
            position: absolute;
            bottom: 0;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        .plat-item {
            background-color: #fff;
            border-radius: 15px;
            position: relative;
            overflow: hidden;
            margin-bottom: 20px;
        }
        .plat-item input[type="checkbox"] {
            display: none;
        }
        .plat-item label {
            display: block;
            position: relative;
            cursor: pointer;
        }
        .menu-details {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        .menu-details h3,
        .menu-details p {
            margin: 0;
            padding-left: 10px;
            display: flex;
            justify-content: space-between;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    .menu-details b {
        margin-left: 250px;
        margin-top: -20px;
    }
    .plat-item span {
        position: absolute;
        background-color: #008766;
        color: #fff;
        top: 0;
        right: -20px;
        width: 60px;
        height: 40px;
        border-radius: 0 15% 15% 0;
        transition: left 0.5s linear;
        i.fa-regular.fa-circle-check {
            position: relative;
            top: 30%;
            left: 30%;
        }
    }

    #checkbox_1:checked + label span {
        right: 0;
    }
    #checkbox_1:checked + label span:not(:hover) {
        right: -1px;
    }

    #checkbox_2:checked + label span {
        right: 0;
    }
    #checkbox_2:checked + label span:not(:hover) {
        right: -1px;
    }

    #checkbox_3:checked + label span {
        right: 0;
    }
    #checkbox_3:checked + label span:not(:hover) {
        right: -1px;
    }
    #checkbox_4:checked + label span {
        right: 0;
    }
    #checkbox_4:checked + label span:not(:hover) {
        right: -1px;
    }

    #checkbox_5:checked + label span {
        right: 0;
    }
    #checkbox_5:checked + label span:not(:hover) {
        right: -1px;
    }

    #checkbox_6:checked + label span {
        right: 0;
    }
    #checkbox_6:checked + label span:not(:hover) {
        right: -1px;
    }
    #checkbox_7:checked + label span {
        right: 0;
    }
    #checkbox_7:checked + label span:not(:hover) {
        right: -1px;
    }

    #checkbox_8:checked + label span {
        right: 0;
    }
    #checkbox_8:checked + label span:not(:hover) {
        right: -1px;
    }

    #checkbox_9:checked + label span {
        right: 0;
    }
    #checkbox_9:checked + label span:not(:hover) {
        right: -1px;
    }
}

.menu-footer {
    background-color: #000;
    color: #fff;
    h3 {
        margin-left: 40px;
        padding-top: 20px;
    }

    ul {
        list-style: none;
    }
    li {
        a {
            text-decoration: none;
            color: #fff;
            display: flex;
            align-items: center;
        }
        i {
            margin-right: 10px;
        }
        .information {
            &:hover {
                color: white;
            }
        }
    }
}
