@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&family=Roboto:wght@400;700display=swap");
body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*police*/
/*couleurs*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.plat-item {
  animation: fadeIn 1s ease-in-out 0.2s;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fillheart {
  from {
    opacity: 0;
    transform: scale(0.8, 0.8);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.heart-icon {
  width: 32px;
  height: 32px;
  font-size: 20px;
  position: relative;
  margin-right: 20px;
}

.heart-empty {
  opacity: 1;
  z-index: 1;
  font-size: 32px;
  cursor: pointer;
  transition: fill 0.5s ease;
}

i {
  position: absolute;
}

.heart-full {
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease;
  font-size: 32px;
  animation: fillHeart 0.5s ease-in-out forwards;
}

.heart-empty::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: background-color 0.5 ease;
}

.heart-empty:hover {
  background-color: transparent;
}

.heart-empty:hover + .heart-full {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-background-clip: text;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-header img {
  padding: 14px 50px;
}
.menu-header i.fa-solid {
  color: #000;
}

.menu-main img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.background-section {
  background-color: #f6f6f6;
  margin: -50px auto 0;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  max-width: 1000px;
}

.menu-like {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: Shrikhand;
}

.Entrées,
.Plats,
.Désserts {
  opacity: 0;
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  max-width: 650px;
  margin: 0 auto;
}
.Entrées:nth-child(2),
.Plats:nth-child(2),
.Désserts:nth-child(2) {
  animation-delay: 0s;
}
.Entrées:nth-child(3),
.Plats:nth-child(3),
.Désserts:nth-child(3) {
  animation-delay: 0.5s;
}
.Entrées:nth-child(4),
.Plats:nth-child(4),
.Désserts:nth-child(4) {
  animation-delay: 1s;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Entrées h2,
.Plats h2,
.Désserts h2 {
  font-weight: 400;
  font-family: Roboto;
  font-size: 16px;
  margin-left: 20px;
}
.Entrées h2:after,
.Plats h2:after,
.Désserts h2:after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  background-color: #99e2d0;
}
.Entrées .container-content,
.Plats .container-content,
.Désserts .container-content {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 0 10px 20px 10px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.Entrées .container-content:hover .text-prix,
.Plats .container-content:hover .text-prix,
.Désserts .container-content:hover .text-prix {
  transform: translateX(0);
}
.Entrées .container-content .text-content,
.Plats .container-content .text-content,
.Désserts .container-content .text-content {
  flex: 1;
  border-radius: 20px;
  position: relative;
  z-index: 2;
  margin-left: 10px;
  white-space: normal;
}
.Entrées .container-content .text-content .container-content:hover .text-content p,
.Plats .container-content .text-content .container-content:hover .text-content p,
.Désserts .container-content .text-content .container-content:hover .text-content p {
  max-width: 100%;
}
.Entrées .container-content .text-content p,
.Plats .container-content .text-content p,
.Désserts .container-content .text-content p {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: max-width 0.4s ease-out;
  font-family: Roboto;
}
.Entrées .container-content .text-content h3,
.Plats .container-content .text-content h3,
.Désserts .container-content .text-content h3 {
  font-family: Roboto;
}
.Entrées .container-content .text-prix,
.Plats .container-content .text-prix,
.Désserts .container-content .text-prix {
  display: flex;
  transition: all 0.4s;
  transform: translateX(50%);
  align-items: center;
  z-index: 1;
  height: 100px;
  top: 0;
  right: 0;
  font-weight: bold;
}
.Entrées .container-content .text-prix p,
.Plats .container-content .text-prix p,
.Désserts .container-content .text-prix p {
  display: flex;
  margin: 0 40px 0 0;
  position: relative;
  top: 20px;
}
.Entrées .container-content .text-prix .animation,
.Plats .container-content .text-prix .animation,
.Désserts .container-content .text-prix .animation {
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  height: 100%;
  width: 50px;
  position: relative;
  transition: transform 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Entrées .container-content .text-prix .animation .fa-circle-check,
.Plats .container-content .text-prix .animation .fa-circle-check,
.Désserts .container-content .text-prix .animation .fa-circle-check {
  color: white;
  font-size: 1.5rem;
  transition: all 1s;
  transform: rotate(0deg);
}
.Entrées .container-content .text-prix .animation .fa-circle-check:hover,
.Plats .container-content .text-prix .animation .fa-circle-check:hover,
.Désserts .container-content .text-prix .animation .fa-circle-check:hover {
  transform: rotate(180deg);
}

.menu-button {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 769px) and (max-width: 1224px) {
  .Entrées img,
  .Plats img,
  .Désserts .menu-main img {
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Entrées .background-section,
  .Plats .background-section,
  .Désserts .menu-main .background-section {
    margin-top: -30px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .Entrées h2,
  .Plats h2,
  .Désserts .menu-main h2 {
    margin-left: 25px;
  }
}
@media screen and (min-width: 1225px) and (max-width: 1440px) {
  .Entrées img,
  .Plats img,
  .Désserts .menu-main img {
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .Entrées .background-section,
  .Plats .background-section,
  .Désserts .menu-main .background-section {
    max-width: 1053px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=menu.css.map */